<header>
  <div class="logo">
    <img src="assets/logoWhite.png" alt="Company Logo">
  </div>
  <div class="title">
    <label>SEL3ATI</label>
  </div>
  <div class="account-info" *ngIf="isUserLogin">
    <div class="account">
      <img [src]="imageUrl" alt="User Profile Picture">
      <span class="links_names">{{ name }}</span>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
      <i class="fa fa-caret-up" aria-hidden="true"></i>
      <i (click)="logOut()" class="fa fa-times" aria-hidden="true" id="log_out" aria-label="Log Out"></i>
    </div>
  </div>
  <div class="location-info" *ngIf="isUserLogin">
    <label class="location">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <span class="links_names">{{ location }}</span>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
      <i class="fa fa-caret-up" aria-hidden="true"></i>
    </label>
  </div>
</header>
