
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 10vh;
  background-color: #00BF63;
  color: #333;
  
}

.logo img {
  height: 40px;
}

.title {
  font-size: 1.5em;
}

.account-info, .location-info {
  display: flex;
  align-items: center;
}

.account img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.account .fa, .location .fa {
  margin-left: 10px;
}

.account-info .fa-times {
  cursor: pointer;
}

.location-info {
  font-size: 0.9em;
}

.location-info .fa-map-marker {
  margin-right: 5px;
}


