*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background-color: #00BF63;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease ;
}

.sidebar.open{
    width: 250px;
}

.sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon{
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
    opacity: 1;
}

.sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.sidebar .logo-details #btn{
    text-align: right;
}

.sidebar i{
    color: white;
    height: 50px;
    min-height: 40px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
    margin: 0 16px;
}
.sidebar .nav_list{
    margin-top: 20px;
    height: 100%;
}
.sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}
.sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 25px);
    z-index: 3;
    background: white;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}
.sidebar li .tooltip::after{
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: -3px;
    background: white;
    transform: rotate(45deg);
    top: 9px;
}
.sidebar li :hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip{display: none;}

.sidebar input{
    font-size: 17px;
    color: white;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background-color: #01e175;
    opacity: 0;
}
.sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
    opacity: 1;
}
.sidebar .fa-search{
    position: absolute;
    top: 100%;
    left: -15px;
    transform: translateY(-50px);
    font-size: 22px;
    background:transparent;
    padding: 0 15px;
}
.sidebar.open .fa-search:hover{
    background: white;
    color: #00BF63;
}
.sidebar .fa-search:hover{
    background:white;
    color: #00dc72;
}

.sidebar li div{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    transition: all 0.4s ease;
    background: #00BF63;
    text-align: center;
    padding: 0px;
    cursor: pointer;
    
}
.sidebar li div:hover{background: rgb(254, 254, 254);}
.sidebar li div .links_names{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    margin: 0 10px;
}
.sidebar.open li div .links_names{
    opacity: 1;
    pointer-events: auto;
}
.sidebar li div:hover .links_names,
.sidebar li div:hover i{
    transition: all 0.4s ease;
    color: #00BF63;
}
.sidebar li i{
    height: 50px ;
    line-height: 50px ;
    font-size: 18px ;
    border-radius: 12px ;
}
.sidebar li .profile{
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #00BF63;
    transition: all 0.4s ease;
    overflow: hidden;
}

.sidebar.open li .profile{width: 250px;}
.sidebar .profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #00BF63;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
    width: 50px;
    background: none;
}
.name{
    color: white;
    margin-left: 10px;
}

.sidebar.open .name{
    opacity: 0;
}

.rotate{
    transform: rotate(-90deg);
}

@media (max-width: 420px){
    .sidebar li .tooltip{
        display: none;
    }
}
