<div class="nav">
    <div class="title">
        <h1>SEL3ATI<span>Account</span></h1>
    </div>
    <div class="nav_links">
        <ul>
            <li class="active"><i class="fa fa-home" aria-hidden="true"></i> Home</li>
            <li [routerLink]="['infouser']"><i class="fa fa-address-card" aria-hidden="true"></i> User Info</li>
            <li [routerLink]="['security']"><i class="fa fa-lock" aria-hidden="true"></i> Security</li>
            <li [routerLink]="['data-privacy']"><i class="fa fa-toggle-on" aria-hidden="true"></i> Data & Privacy</li>
            <li [routerLink]="['paymment']"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Paymment</li>
        </ul>
    </div>
</div>
