<div class="all_products">
  <div class="products"  *ngFor="let products of products">
    <div class="card-image">
        <img src="assets/434096415_1127376984952446_3745839893712808449_n.jpg" alt="">
    </div>
    <div class="card-info">
        <h2>{{products.name}}</h2>
        <p class="quantity">{{products.quantity}} piece on box</p>
        <p class="prix">{{products.price}} Dz</p>
        <p class="categ">{{products.category}}</p>
    </div>
    <button class="edit_btn" [routerLink]="['/edit']">Edit</button>
  </div> 

</div>