<div class="all_products" *ngFor="let item of items">
    <div class="products">
        <div class="card-image">
            <img src="assets/434096415_1127376984952446_3745839893712808449_n.jpg" alt="">
        </div>
        <div class="card-info">
            <h2>{{item.name}}</h2>
            <p class="quantity">{{item.quantity}} piece on box</p>
            <p class="prix">{{item.price}} Dz</p>
        </div>
        <button class="edit_btn" [routerLink]="['/edit']">Edit</button>
    </div> 
     
    
    

</div>
