<div class="all_products" >
    <div class="products" *ngFor="let item of items">
        <div class="card-image">
            <img src="{{item.image}}" alt="">
        </div>
        <div class="card-info">
            <h2>{{item.name}}</h2>
            <p class="quantity">{{item.quantity}} piece on box</p>
            <p class="prix">{{item.price}} Dz</p>
            <p class="quantity">{{item.Description}}</p>
        </div>
        <button class="edit_btn" [routerLink]="['/edit']">Edit</button>
    </div>
    
</div>
