*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body kamel*/

.container-login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    background-color: rgba(161, 0, 179, 0.4);
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Welcom container*/

.form-welcom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(242, 242, 242, 0.6);
    border-radius: 10px;
}
.form-welcom h2{
    font-size: 2em;
    font-weight: 700;
}
.form-welcom .big-logo{
    height: 300px;
    width: 300px;
    border: 3px solid #000;
    margin: 15px 0;
}

.form-welcom .icons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.form-welcom .sentence{
    font-size: 1.1em;
}
.form-welcom .sentence span{
    font-size:2em ;
    color: rgb(151, 0, 168);
    font-weight:bold;
}

/*style for phone app*/
.phone-box{
    height: 500px;
    width: 300px;
    border: #f2f2f2ac solid 2px;
    border-radius: 10px;
}

/*style for login box*/

.form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    padding: 30px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(242, 242, 242, 0.6);
    border-radius: 10px;
}
.form-box h2{
    font-size: 2em;
    font-weight: 700;
}
.input-box{
    position: relative;
    margin: 30px 0;
    height: 50px;
    width: 300px;
    border-radius: 25px;
    border: solid 1px #f2f2f2ac;
}
.input-box label{
    position: absolute;
    top: 0%;
    left: 25px;
    transform: translateY(50%);
    font-size: 1rem;
    transition: 0.5s;
}
.input-box input{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 45px 0 5px;
    font-size: 1rem;
    transition: 0.5s;
    padding-left: 25px;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -20px;
    background: rgb(208, 0, 219);
    padding: 0 10px;
    color: black;
    border-radius: 30px;
    font-size: 15px;
}

.input-box .icon{
    position: absolute;
    top: 11px;
    right: 0;
    width: 50px;
    height: 50px;
    color: rgb(44, 0, 46);
}

.form-box .Remember{
    display: flex;
    justify-content:space-between ;
}
.form-box .Remember .checkbox{
    zoom: 1.4;
}
.form-box .Remember label{
    position: relative;
    top:-3px ;
    margin: 3px;
}
.form-box .Remember a{
    position: relative;
    top: -3px;
    color: rgb(151, 0, 168);
    text-decoration: none;
}

.form-box form button{
    width: 100%;
    height: 60px;
    margin: 10px;
    text-align: center;
    align-items: center;
    font-size: 1.5em;
    background-color: rgba(115, 0, 128, 0.819);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    left: -6px;
}

.form-box form button:hover{
    background-color: rgb(184, 0, 204);
    letter-spacing: 1px;
}
.Register{
    font-size: 0.9em;
    margin: 10px;
}
.Register a{
    position: relative;
    color: rgb(151, 0, 168);
}
.application{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
hr{
    width: 2px;
    height: 30px;
    background-color: rgb(151, 0, 168);
    border: none;
}







