<!--Body Kamel hh-->

<div class="container-login">
    <img  [src]="myBackground" class="background">
    <!--welcome container-->
    <div class="form-welcom">
        <h2>WELCOME</h2>
        <div class="big-logo">
            <img src="/src/assets/login/background.jpg">
        </div>
        <div class="icons">
            <span> icon1 </span>
            <span> icon2 </span>
            <span> icon3 </span>
        </div>
        <div class="sentence">
            <p>Increase Your Wholesale Purchases With </p>
            <span>SEL3ATI</span>
        </div>
    </div>
    
    <!--login container-->
    <div class="form-box">
        <h2>Login</h2>
        <form action="#" method="#">
            <div class="input-box">
                <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <input type="email" name="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <input type="password" name="password" required>
                <label>Password</label>
            </div>
            <div class="Remember">
                <p><input type="checkbox" name="remember-me" id='' class="checkbox"><label>Remember me</label></p>
                <a>Forget Password?</a>
            </div>
            <button>Login</button>
        </form>
        <div class="Register">
            <label>Don't have a account <a>Register</a></label>
        </div>
        <div class="get-app">
            <label>Get The App</label>
        </div>
        <div class="application">
            <a><img src="" alt=""></a>
            <hr>
            <a><img src="" alt=""></a>
        </div>
    </div>
    <!--phone image-->
    <div class="phone-box">
        <img src="" alt="">
    </div>
</div>

