<app-nav-account></app-nav-account>

<div class="edit_user">
    <div class="account_header">
        <h1>User Info</h1>
        <p>Info about you and your preferences across SEL3ATI services</p>
    </div>
    <div class="info_user_card">
        <button class="edit">Edit Your Info</button>
        <h4>your info</h4>
        <div class="basic_info">
            <p>Basic Info</p>
            <div class="name">
                <label>Your Name :</label>
                <label> Roronoa Zoro </label>
            </div>
            <div class="sho_or_sup">
                <label>Your Type :</label>
                <label> Shop </label>
            </div>
            <div class="sho_or_sup">
                <label>Your Address :</label>
                <label> Temacine </label>
            </div>
        </div>
        <div class="contact_info">
            <p>Contact Info</p>
            <div class="email">
                <label>Email : </label>
                <label> boukhendegnour{{email}} </label>
            </div>
            <div class="phone">
                <label>Number Phone : </label>
                <label>0656 14 11 67</label>
            </div>

        </div>

    </div>
</div>
