<div class="footer">
    <div class="befor_hr">
        <div class="logo" [routerLink]="['/home']">
            <img src="assets/logoWhite.png" alt="logo">
            <h1>SEL3ATI</h1>
        </div>
        <div class="nav_links">
            <ul>
                <li><a>Home</a></li>
                <li><a>About us</a></li>
                <li><a>Order</a></li>
                <li><a>Saved</a></li>
                <li><a>Contact</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <p class="copyright">SIL3ATI 2024copyright || All Rights Reserved</p>

</div>
