
<div class="container-login">
  <img src="assets/background.jpg" class="bg">
  <!--login container-->
  <div class="wrapper">
      <div class="form-box register">
          <h2>Login</h2>
          <form>
              <div class="input-box errorEmail">
                  <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  <input [(ngModel)]="user.email" type="email" name="email" required>
                  <label>Email</label>
                  <p class="demo ERRmail" *ngIf="user.email === ''">You can't input null</p>
              </div>
              <div class="input-box pass">
                  <span class="icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                  <input [(ngModel)]="user.password" type="password" name="password" required class="show">
                  <label>Password</label>
                  <p class="demo ERRpass" *ngIf="user.password == ''" >Your password is less than 8 characters</p>
              </div>
              <div class="Remember">
                  <input type="checkbox" name="remember-me" class="checkbox" (click)="showpass()" id="togglePassword">
                  <label>Show Password</label>
              </div>
              <button type="submit" (click)="checkpass()">login</button>
          </form>
          <div class="Register">
              <label>Already haven't an account? <a href="#">Register</a></label>
          </div>
          <div class="get-app">
              <label>Get The App</label>
          </div>
          <div class="application">
              <a href="#"><img src="assets/appstore.png" alt="App Store"></a>
              <hr>
              <a href="#"><img src="assets/playstore.png" alt="Play Store"></a>
          </div>
      </div>
  </div>
</div>
