<app-header></app-header>

<div class="container-login">
  <img src="assets/background.jpg" class="bg">
  <!--login container-->
  <div class="wrapper">
      <div class="form-box register">
          <h2>Register</h2>
          <form (ngSubmit)="confirm()" >
              <div class="input-box errorEmail">
                  <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  <input [(ngModel)]="user.email" type="email" name="email" required>
                  <label>Email</label>
                  <p class="demo ERRmail" *ngIf="user.email === ''">You can't input null</p>
              </div>
              <div class="input-box pass">
                  <span class="icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                  <input [(ngModel)]="user.password" type="password" name="password" required>
                  <label>Password</label>
                  <p class="demo ERRpass" *ngIf="user.password.length <= 8">Your password is less than 8 characters</p>
              </div>
              <div class="input-box confPass">
                  <span class="icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                  <input [(ngModel)]="user.confirmPass" type="password" name="confirmPassword" required>
                  <label>Confirm Password</label>
                  <p class="demo ERRconf" *ngIf="user.password !== user.confirmPass">Your passwords do not match</p>
              </div>
              <div class="Remember">
                  <input type="checkbox" name="remember-me" class="checkbox">
                  <label>I agree to the terms & conditions</label>
              </div>
              <button type="submit">Register</button>
          </form>
          <div class="Register">
              <label>Already have an account? <a href="#">Login</a></label>
          </div>
          <div class="get-app">
              <label>Get The App</label>
          </div>
          <div class="application">
              <a href="#"><img src="assets/appstore.png" alt="App Store"></a>
              <hr>
              <a href="#"><img src="assets/playstore.png" alt="Play Store"></a>
          </div>
      </div>

      <div class="form-box create" *ngIf="!confirmPage">
          <span class="revers" (click)="reverss()"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
          <h2>Create Account</h2>
          <form (ngSubmit)="register()">
              <div class="input-box">
                  <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                  <input type="text" name="name" required [(ngModel)]="user.name">
                  <label>Username</label>
              </div>
              <div class="input-box">
                  <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                  <input type="number" name="phone" required [(ngModel)]="user.phone">
                  <label>Phone Number</label>
              </div>
              <div class="input-box">
                  <span class="icon"><i class="fa fa-birthday-cake" aria-hidden="true"></i></span>
                  <input type="date" name="birthday" required [(ngModel)]="user.birthday">
                  <label>Your Birthday</label>
              </div>
              <div class="input-box">
                  <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                  <input type="text" name="address" required [(ngModel)]="user.address">
                  <label>Address</label>
              </div>
              <div class="input-box">
                  <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  <input type="email" name="email" required [(ngModel)]="user.email">
                  <label>Email</label>
              </div>
              <button type="submit" >Send Confirmation Code</button>
              <p class="emailexsist" *ngIf="isAccountExist">This email already exists</p>
          </form>

          <p *ngIf="inputKey">Key sended to your email : {{user.email}}</p>

          <div class="confirm">
              <h3>Confirmation key sent to your email</h3>
              <input type="text" [(ngModel)]="user.key">

              <div class="cor">
                  <button type="submit" (click)="confirmAccount()">Confirm</button>
                  <button type="submit" (click)="register()">Resend</button>
              </div>
          </div>
      </div>
  </div>
</div>
